body {
  scroll-behavior: smooth;
  transition: 0.5s;
  background: indigo;
  background-image: linear-gradient(to right, #3B00C4, #670096);
  font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.topnav {
  margin: auto;
  z-index: 10000;
  left: 10px;
  overflow: hidden;
  background-color: #6A52DE;
  border-radius: 9px 9px 9px 9px;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topRightNav {
  z-index: 9999;
  right: 10px;
  overflow: hidden;
  background-color: #6A52DE;
  border-radius: 9px 9px 9px 9px;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topRightNav a.text {
  float: right;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: 0.5s;
}

.topRightNav a.text:hover {
  background-color: #363682;
  color: white;
}

.topRightNav a.active {
  float: right;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  background-color: #4949B3;
}

.topnav a.altappsTitle {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 12px 8px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 650;
}

.button {
  background-color: #272D6A;
  border-radius: 15px;
  padding: 15px 15px 15px 15px;
  color: #EB2189;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}

.button:hover {
  background-color: #2F378B;
  border-radius: 15px;
  padding: 15px 15px 15px 15px;
  color: #EB2189;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.install-altstore {
  position: absolute;
  width: 280px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #34838A;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}

.install-altstore:hover {
  position: absolute;
  width: 280px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #009CAA;
  color: #34838A;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scroll1 {
  width: 90%;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroll2 {
  width: 90%;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.scroll3 {
  width: 90%;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.scroll4 {
  width: 90%;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.scroll5 {
  width: 90%;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.scroll6 {
  width: 90%;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.scroll7 {
  width: 90%;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
